https://github.com/Fannovel16/comfyui_controlnet_aux
https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved
https://github.com/Derfuu/Derfuu_ComfyUI_ModdedNodes
https://github.com/WASasquatch/FreeU_Advanced
https://github.com/WASasquatch/was-node-suite-comfyui
https://github.com/WASasquatch/comfyui-plugins
https://github.com/EllangoK/ComfyUI-post-processing-nodes

https://ltdrdata.github.io/
https://github.com/ltdrdata/ComfyUI-Manager
https://github.com/ltdrdata/ComfyUI-Impact-Pack
https://github.com/ltdrdata/ComfyUI-Inspire-Pack
https://github.com/comfyanonymous/ComfyUI_experiments
https://github.com/Stability-AI/stability-ComfyUI-nodes
https://github.com/Fannovel16/ComfyUI-Frame-Interpolation
https://github.com/Fannovel16/ComfyUI-Loopchain
https://github.com/biegert/ComfyUI-CLIPSeg
https://github.com/BlenderNeko/ComfyUI_Cutoff
https://github.com/BlenderNeko/ComfyUI_ADV_CLIP_emb
https://github.com/BlenderNeko/ComfyUI_Noise
https://github.com/BlenderNeko/ComfyUI_TiledKSampler
https://github.com/BlenderNeko/ComfyUI_SeeCoder
https://github.com/LucianoCirino/efficiency-nodes-comfyui
https://github.com/paulo-coronado/comfy_clip_blip_node

https://github.com/Davemane42/ComfyUI_Dave_CustomNode
https://github.com/WASasquatch/ComfyUI_Preset_Merger
https://github.com/WASasquatch/PPF_Noise_ComfyUI
https://github.com/WASasquatch/PowerNoiseSuite
https://github.com/WASasquatch/ASTERR
https://github.com/WASasquatch/WAS_Extras

https://github.com/omar92/ComfyUI-QualityOfLifeSuit_Omar92
https://github.com/lilly1987/ComfyUI_node_Lilly
https://github.com/sylym/comfy_vid2vid
https://github.com/LEv145/images-grid-comfy-plugin
https://github.com/diontimmer/ComfyUI-Vextra-Nodes
https://github.com/hnmr293/ComfyUI-nodes-hnmr
https://github.com/BadCafeCode/masquerade-nodes-comfyui

https://github.com/guoyk93/yk-node-suite-comfyui
https://github.com/Jcd1230/rembg-comfyui-node
https://github.com/YinBailiang/MergeBlockWeighted_fo_ComfyUI
https://github.com/trojblue/trNodes
https://github.com/szhublox/ambw_comfyui
https://github.com/city96/ComfyUI_NetDist
https://github.com/city96/SD-Latent-Interposer
https://github.com/city96/SD-Advanced-Noise
https://github.com/city96/SD-Latent-Upscaler

https://github.com/city96/ComfyUI_DiT

https://github.com/city96/ComfyUI_ColorMod
https://github.com/Kaharos94/ComfyUI-Saveaswebp
https://github.com/chenbaiyujason/sc-node-comfyui
https://github.com/SLAPaper/ComfyUI-Image-Selector
https://github.com/flyingshutter/As_ComfyUI_CustomNodes
https://github.com/Zuellni/ComfyUI-Custom-Nodes
https://github.com/Zuellni/ComfyUI-ExLlama

